* {
    margin: 0px;
    padding: 0px;
}


html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: mintcream;
    margin-top: 57px;
}

.siteTheme {
    z-index: 0;
}

article, header {
    margin: 5px 15px;
}

article {
    min-height: calc(100vh - 50px);
}

footer {
    margin: 0px 15px;
}

footer p {
    padding: 0px;
}

.footerContactInfo {
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
}

#footerName {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 3px;
}

.footerContainer {
    max-width: 100%;
    margin: 0 auto;
    max-width: 100%;
    background-color: burlywood;
    border-top: solid;
    border-color: firebrick;
    padding: 0px 15px 5px 15px;
}

.footerInfoName {
    font-weight: bold;
    font-size: 16px;
}

address {
    padding: 15px 0px;
    margin: 5px 0px;
    font-style: normal;
}

.generalPurposeBox {
    color: black;
    margin: 3px 0px;
    padding: 3px 3px;
    clear: both;
}

.navigationalcontainer {
    padding: 1em 1em;
    width: 100%;
    margin: 0 auto;
    border-bottom: solid;
    border-color: firebrick;
    position: fixed;
    top: 0px;
    overflow: hidden;
    background-color: burlywood;
}

nav {
    background-color: burlywood;
    line-height: 1.4em;
    margin-bottom: 0px;
}

nav div a {
    color: black;
    padding: 1em;
    font-size: 18px;
    text-decoration: none;
}


nav div a:hover {
    /*background-color: firebrick;*/
    border: solid;
    border-width: 2px;
    border-color: firebrick;
    border-radius: 4px 4px;
}

.activeLink {
    border: solid;
    border-width: 2px;
    border-color: firebrick;
    background-color: firebrick;
    font-weight: bold;
    border-radius: 4px 4px;
    color: mintcream;
}

p {
    font-size: 16px;
    font-weight: normal;
    padding: 2px;
    line-height: 1.4em;
	text-align: justify;
}

.subtitle p {
    font-size: 18px;
    font-weight: bold;
    border-bottom: solid;
    margin: 0 auto;
    border-bottom-color: black;
    border-width: 2px;
}

h1 {
    font-size: 28px;
    margin: 0px 0px 5px 0px;
}

.h2Box {
    margin: 0 auto;
    border-bottom: solid;
    border-bottom-color: firebrick;
}

h2 {
    font-size: 22px;
    margin: 5px 0px;
}

section {
    margin: 10px 0px;
    padding: 5px 3px;
    border: solid;
    border-color: firebrick;
    background-color: rgba(222, 184, 135, 0.8);
    overflow: hidden;
    border-radius: 10px;

}

ul li {
    list-style: inside;
    font-size: 16px;
    padding: 2px 0px;
    margin-left: 20px;
}


/*.gameButtonContainer {
    text-align: center;
}*/

.gameButtonContainer ul li {
    list-style-type: none;
    margin-left: 0px;
}

section {
    font-size: 16px;
}

.rotateRight {
    animation: rotation 2s linear infinite;
}

.rotateLeft {
    transform: rotate(-30);
}

button {
    font-size: 16px;
    padding: 3px 3px;
    font-weight: bold;
}

figure {
    float: right;
    clear: both;
    margin: 10px 10px;
    display: table;
}

figcaption {
    text-align: justify;
    display: table-caption;
    caption-side: bottom;
    font-size: 14px;
}

#steffanSchmidtImgCaption {
    text-align: center;
}

#gameArea {
    text-align: center;
    vertical-align: top;
}

#game {
    margin: 20px auto;
    display: inline-block;
    background-image: url(../GameArt/WallGame100x90.png);
    background-repeat: repeat;
    background-position: left bottom;
    z-index: 0;
}

#gameControls, #gameChatter {
    width: 200px;
    height: 450px;
    margin: 20px auto;
    display: inline-block;
    overflow: hidden;
    border: solid;
    border-color: black;
    border-width: 2px;
    padding: 2px 2px;
}


.gameMessage {
    background-color: white;
}

#playerCvs {
    position: absolute;
    width: 850px;
    height: 458px;
    z-index: 2;
}

#roomCvs {
    background-image: url(../GameArt/gameRoomExtended.png);
    position: absolute;
    width: 850px;
    height: 458px;
    z-index: -1;
}

.ImageAssembly {
    float: right;
    padding: 0px 10px;
    clear: both;
}

#sideMilling, #turningBench, #CNCMachine, #SmallCorrSetup, #videoPythonComp,
#dvdImg, #cdImg, #masterAFM, #replicaAFM, #masterSEM, #replicaSEM, #SEMPolystyrenePattern,
#succulentOffsets, #motherPlantStriped, #motherPlant, #highpressureapparatus, #highpressurecube,
#powderSamples {
    clear: left;
    float: right;
}

#strawberry {
    clear: right;
    float: right;
}

#machining p {
    text-align: justify;
}

#largeCorrosionSetup, .videoAssembly {
    clear: both;
    float: right;
    vertical-align: bottom;
}

.videoFig {
    margin: 0px;
    margin: 15px 10px;
}

video {
    width: 400px;
}

#animationControls {
    text-align: center;
}

.tabulator {
    margin-left: 0.5em;
}

.listHeading {
    font-weight: bold;
}

.hiddenElement {
    display: none;
}

.alignCoreCompetenciesBtn {
    float: right;
}

button {
    border-radius: 4px;
}

a:link {
    text-decoration: none;
}