* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(215, 235, 225);
}

body {
}

.align-center {
    display: inline-block;
    margin: 5px auto;
    text-align: center;
}

.checkbox_text {

}

.navcontainer {
    padding: 1em 1em 1em 0em;
    max-width: 100%;
    margin: 0 auto;
}

nav {
    background-color: darkslategrey;
    line-height: 2em;
}

nav div a {
    color: white;
    padding: 1em;
    font-size: 18px;
    text-decoration: none;
}

nav div a:hover {
    background-color: #0f650f;
    border: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
}

ul li {
    list-style: none;
    font-size: 14px;
}


.list_input {
    width: 250px;
}

#profile_list {
    width: 350px;
}



.list_input input {
    float: right;
    clear: both;
}

button {
    margin: 3px auto 3px 5px;
    width: 200px;
    height: 25px;
    border: outset;
    border-width: 1px;
    color: white;
    background-color: darkslategrey;
    white-space: pre-wrap;
    text-align: center;
    border-radius: 8px;
}

button:hover {
    border: 2px;
    background-color: #0f650f;
}

button:active {
    background-color: green;
    border: 1px;
    border: inset;
}

h1 {
    font-size: 28px;
    margin: 10px auto 10px 15px;
}

h2 {
    margin: 0px auto 8px 5px;
    text-decoration: underline;
    text-align: left;

}

p {
    margin: 3px auto 3px 15px;
    font-size: 16px;
    font-weight: normal;
}

section p {
    margin: 3px auto 3px 5px;
}

section {
    border: solid;
    border-width: 2px;
    margin: 2px auto 2px 15px;
    padding: 15px;
    text-align: left;
    background-color: lightblue;
    display: inline-block;
    width: 45%;
    border-radius: 5px 20px;
}

#network_pw {
    margin: 3px auto 3px 5px;
    font-size: 14px;
    height: 25px;
    width: 150px;
}

input {
    margin: 3px auto 3px 5px;
    font-size: 14px;
    height: 25px;
    width: 200px;
    text-align: center;
}

input:read-only {
    background-color: rgb(183, 175, 175);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

input:invalid {
    border-color: red;
    border-width: 2px;
}
select {
    margin: 3px auto 3px 5px;
    font-size: 14px;
    height: 25px;
    width: 150px;
}

div img {
    height: 300px;
    width: 300px;
    float: right;
    clear: right;
    margin: 0px 35px;
}

footer {
    margin: 0px 15px;
    position: fixed;
    bottom: 15px;
}

label {
    margin: 3px auto 3px 5px;
    font-size: 16px;
    line-height: 35px;
}

#plotting_canvas {
    display: inline-block;
    width: 45%;
    float: right;
    clear: both;
    margin-right: 15px;
}


#plot_area {
    width: 98%;
    height: 500px;
    margin: 3px 5px 3px 5px;
}